@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(71, 71, 71); 
    height: 100vh;
}

.Container {
    display: flex;
    background-color: bisque;
    width: 400px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

header div {
    background-color: rgb(5, 233, 233);
    width: 400px;
    height: 150px;
    margin: 10px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
}

header div h1{
    font-size: 40px;
}