@charset "UTF-8";

img {
    margin: auto;
    display: block;
    width: 350px;
    height: 650px;
    position: relative;
    top: 30px;
    border-radius: 20px;
}

body {
    background-image: linear-gradient(to right,#fd8e4d,hwb(11 18% 3%),#BF307F, #A61F9D);
    
}