@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#BackPhone {
    margin: auto;
    width: 100vh;
}

#ProfileIcon {
    width: 100px;
}
