@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: "911 Porscha Laser", Verdana, Geneva, Tahoma, sans-serif;
    src: url("911porschav3laser.ttf") format(truetype);
}

@keyframes slideinPorsch {
    from {
        margin-left: -100%;
        opacity: 50%;
    }
  
    to {
        margin-left: 22%;
      opacity: 100%;
    }
}

@keyframes titleslide {
    from {
        margin-right: 100%;
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes ButtonsAnim {

    
}

@keyframes CarNameAnim {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

:root {
    --fontPorsch: "911 Porscha Laser", Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Cal Sans", sans-serif;
    --font3: "Nunito", sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

header {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0));
    width: 100vw;
    height: 80px;
}

header h1 {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-family: var(--fontPorsch);
    font-size: 3em;
    animation-name: titleslide;
    animation-duration: 2s;
}

header img {
    position: relative;
    bottom: 40px;
    left: 35px;
    width: 35px;
    height: 40px;
}


section {
    width: 100vw;
    height: 930px;
    background-color: black;
}

section h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: var(--font2);
    padding-top: 700px;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: uppercase;
    animation-name: CarNameAnim;
    animation-duration: 3s;
}
#img1 {
    background-image: url(Imagens/Florest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-top: -90px;
}

#IconPorsche {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 250px;
    transform: translate(-50%) translate(-35%);
    width: 60vw;
    animation: slideinPorsch 1.5s forwards;   
}

.SecondPag {
    background-color: white;
}

#FrontPorscheIcon {
    position: relative;
    left: 10%;
    right: 50%;
    width: 40vw;
    transform: translate(100%) translateY(40%);
}

.NavDiv {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 65px;
    margin: auto;
    border-radius: 10px;
    font-size: 17px;  
}

.ModeloDiv {
    display: flex;
    margin-right: 10px;
    border: solid white;
    height: 55px;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    animation-name: CarNameAnim;
    animation-duration: 2s;
}

.ConfigDiv {
    display: flex;
    margin-right: 10px;
    border: solid white;
    height: 55px;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    animation-name: CarNameAnim;
    animation-duration: 2s;
}

.usadoNovosDiv {
    display: flex;
    margin-right: 10px;
    border: solid white;
    height: 55px;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    animation-name: CarNameAnim;
    animation-duration: 2s;
}

.ModeloDiv:hover, .usadoNovosDiv:hover, .ConfigDiv:hover{
    border: solid rgb(255, 255, 255);
    background-color: white;
}

.NavDiv p:hover  {
    color: black;
}

.NavDiv p {
    color: white;
    font-family: "Nunito";
    padding: 15px;
    font-weight: 500;
}

.AceleracaoContainer {
    display: block;
    text-size-adjust: 100%;
    background-color: aqua;
    width: 30vw;
    height: 60vh;
    margin-left: 120px;
    margin-top: -280px;
}

.AceleracaoDiv {
    display: flex;
    justify-content: center;  
    align-items: center;  
    background-color: aquamarine;
    width: 30vw;
    height: 20vh;
    margin: auto;
    margin: 10px;
}

.AceleracaoDiv h1 {
    display: block;
    color: rgb(0, 0, 0);
    padding-top: 0px;
    padding-left: 20px;
}

