@charset "UTF-8";

/*Font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --Pink: hsl(322, 100%, 66%);
   --Very-Pale-Cyan: hsl(193, 100%, 96%);
   --Very-Dark-Cyan: hsl(192, 100%, 9%);
   --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    background-image: url(images/bg-hero-desktop.svg);
    width: 100%;
    height: 630px;
}

#Logo {
    width: 200px;
    padding-top: 30px;
    padding-left: 50px;
}

#TryBtn {
    background-color: rgb(255, 255, 255);
    border: none;
    width: 160px;
    height: 35px;
    border-radius: 30px;
    position: absolute;
    top: 30px;
    right: 100px;
    box-shadow: 0px 0px 5px rgb(186, 186, 186);
    font-family: "Open Sans";
}

#TryBtn:hover {
    cursor: pointer;
}

main h2 {
    font-family: "Open Sans";
    margin-top: 150px;
    padding-left: 50px;
    margin-bottom: 50px;
    color: var(--Very-Dark-Cyan);
    width: 450px;
    font-size: 35px;
}

main p {
    padding-left: 50px;
    width: 550px;
    font-family: "Poppins";
    color: var(--Very-Dark-Cyan);
}

#GetStartBtn {
    background-color: var(--Pink);
    height: 40px;
    width: 210px;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: "Open Sans";
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 0px 0px 5px var(--Pink);
}

#GetStartBtn:hover {
    cursor: pointer;
}

#mockupsImg {
    width: 650px;
    position: absolute;
    top: 100px;
    left: 760px;
}

aside {
    height: 1900px;
}


/*Information 1*/

#Information1 {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(158, 158, 158);
    width: 1300px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 120px;
    border-radius: 10px;
    margin-top: 40px;
}

#Information1 h2 {
    font-family: "Poppins";
    color: var(--Very-Dark-Cyan);
    margin-left: 120px;
    padding-top: 100px
}

#Information1 p {
    font-family: "Open Sans";
    padding-top: 15px;
    width: 550px;
    padding-left: 120px;
}

#Information1 img {
    width: 350px;
    margin-left: 800px;
    margin-top: -170px;
}

/*Information 2*/


#Information2 {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(158, 158, 158);
    width: 1300px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 120px;
    border-radius: 10px;
    margin-top: 40px;
}

#Information2 h2 {
    font-family: "Poppins";
    color: var(--Very-Dark-Cyan);
    margin-left: 600px;
    padding-top: 100px
}

#Information2 p {
    font-family: "Open Sans";
    padding-top: 15px;
    width: 450px;
    margin-left: 600px;
}

#Information2 img {
    width: 350px;
    margin-left: 100px;
    margin-top: -170px;
}

/*Information 3*/


#Information3 {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(158, 158, 158);
    width: 1300px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 120px;
    border-radius: 10px;
    margin-top: 40px;
}

#Information3 h2 {
    font-family: "Poppins";
    color: var(--Very-Dark-Cyan);
    margin-left: 120px;
    padding-top: 100px
}

#Information3 p {
    font-family: "Open Sans";
    padding-top: 15px;
    width: 550px;
    padding-left: 120px;
}

#Information3 img {
    width: 350px;
    margin-left: 800px;
    margin-top: -170px;
}

#FinalInfo {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(158, 158, 158);
    position: relative;
    top: 200px;
    width: 600px;
    height: 220px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    font-family: "Poppins";
    color: var(--Very-Dark-Cyan);
    align-content: center;
}

#FinalInfo button {
    background-color: var(--Pink);
    width: 240px;
    height: 45px;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: "Poppins";
    font-size: 12px;
    margin-top: 25px;
}

#FinalInfo button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--Pink);
    transition: .5s;
}

footer {
    background-color: var(--Very-Dark-Cyan);
    height: 400px;
    margin-top: 100px;
    padding-left: 180px;
    padding-top: 200px;
}

footer ul {
    columns: 2;
}

#LocaltionDiv {
    color: white;
    width: 350px;
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 14px;
}

#LocaltionDiv img {
    position: relative;
    top: 27px;
    right: 35px;
}

#PhoneDiv {
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
}

#PhoneDiv img {
    position: relative;
    top: 27px;
    right: 35px;
}

#EmailDiv {
    color: white;
    font-family: "Open Sans";
    font-size: 14px;

}

#EmailDiv img {
    position: relative;
    top: 27px;
    right: 35px;
}

#Lista1 {
    color: white;
    font-family: "Poppins";
    margin-left: 500px;
    margin-top: -145px;
    line-height: 35px;
    list-style-type: none;
    font-size: 12px;
    font-weight: 200;
}

#Lista1 li:hover {
    text-decoration: underline;
}

#Lista2 {
    color: white;
    font-family: "Poppins";
    margin-left: 700px;
    margin-top: -105px;
    line-height: 35px;
    list-style-type: none;
    font-size: 12px;
    font-weight: 200;
}

#Lista2 li:hover {
    text-decoration: underline;
}

#Copy {
    color: white;
    font-weight: 200;
    font-family: "Poppins";
    font-size: 11px;
    margin-left: 1000px;
}

@media (max-width: 768px) {
    main {
        background-image: url(images/bg-hero-mobile.svg);
        width: 100%;
        height: 770px;
    }

    #Logo {
        width: 140px;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    #TryBtn {
        background-color: rgb(255, 255, 255);
        border: none;
        width: 100px;
        height: 25px;
        border-radius: 30px;
        position: absolute;
        top: 30px;
        right: 20px;
        box-shadow: 0px 0px 5px rgb(186, 186, 186);
        font-family: "Open Sans";
    }

    #TryBtn:hover {
        cursor: pointer;
    }
    
    main h2 {
        font-family: "Open Sans";
        margin-top: 110px;
        padding-left: 50px;
        margin-bottom: 50px;
        color: var(--Very-Dark-Cyan);
        width: 350px;
        font-size: 25px;
        text-align: center;
    }
    
    main p {
        margin-top: -20px;
        padding-left: 55px;
        width: 345px;
        font-size: 14px;
        font-family: "Poppins";
        color: var(--Very-Dark-Cyan);
        text-align: center;
    }
    
    
    #GetStartBtn {
        background-color: var(--Pink);
        height: 45px;
        width: 270px;
        border: none;

        border-radius: 30px;
        color: white;
        font-family: "Open Sans";
        margin-top: 30px;
        margin-left: 60px;
        box-shadow: 0px 0px 5px var(--Pink);
    }

    #mockupsImg {
        width: 300px;
        position: absolute;
        top: 500px;
        left: 50px;
    }

    #Information1 {
        background-color: white;
        box-shadow: 0px 0px 5px rgb(158, 158, 158);
        width: 325px;
        height: 550px;
        margin: auto;
        position: relative;
        top: 10px;
        margin-left: 30px;
        border-radius: 10px;
        margin-top: 40px;
    }
    
    
    #Information1 h2 {
        font-family: "Poppins";
        color: var(--Very-Dark-Cyan);
        margin-left: 100px;
        position: relative;
        top: 250px;
        left: -28px;
        padding-top: 100px;
    }

    #Information1 p {
        font-family: "Open Sans";
        padding-top: 6px;
        width: 300px;
        text-align: center;
        padding-left: 30px;
        position: relative;
        top: 250px;
        color: var(--Grayish-Blue);

    }

    #Information1 img {
        width: 250px;
        margin-left: 50px;
        margin-top: -170px;
    }

    /*Information 2 */

    #Information2 {
        background-color: white;
        box-shadow: 0px 0px 5px rgb(158, 158, 158);
        width: 325px;
        height: 550px;
        margin: auto;
        position: relative;
        top: 10px;
        left: -0.1px;
        border-radius: 10px;
        margin-top: 40px;
    }

    #Information2 h2 {
        font-family: "Poppins";
        color: var(--Very-Dark-Cyan);
        font-size: 20px;
        width: 250px;
        margin-left: 90px;
        position: relative;
        top: 200px;
        left: -45px;
    }
    
    #Information2 p {
        font-family: "Open Sans";
        font-size: 16px;
        width: 260px;
        text-align: center;
        position: relative;
        top: 200px;
        left: -560px;
        color: var(--Grayish-Blue);
    }
    
    #Information2 img {
        width: 250px;
        margin-left: 50px;
        position: relative;
        top: -35px;
    }

        /*Information 3*/

        #Information3 {
            background-color: white;
            box-shadow: 0px 0px 5px rgb(158, 158, 158);
            width: 325px;
            height: 550px;
            margin: auto;
            position: relative;
            top: 10px;
            left: -0.1px;
            border-radius: 10px;
            margin-top: 40px;
        }
    
        #Information3 h2 {
            font-family: "Poppins";
            color: var(--Very-Dark-Cyan);
            font-size: 20px;
            width: 250px;
            margin-left: 90px;
            position: relative;
            top: 200px;
            left: 15px;
        }
        
        #Information3 p {
            font-family: "Open Sans";
            font-size: 16px;
            width: 370px;
            text-align: center;
            position: relative;
            top: 200px;
            left: -80px;
            color: var(--Grayish-Blue);
        }
        
        #Information3 img {
            width: 250px;
            margin-left: 50px;
            position: relative;
            top: -60px;
        }
         
        #FinalInfo {
            background-color: white;
            box-shadow: 0px 0px 5px rgb(158, 158, 158);
            position: relative;
            top: 200px;
            width: 350px;
            height: 160px;
            margin: auto;
            border-radius: 15px;
            text-align: center;
            font-family: "Poppins";
            color: var(--Very-Dark-Cyan);
            align-content: center;
        }

        #FinalInfo h1 {
            width: 500px;
            font-size: 17px;
            margin-left: -74px;
        }

        #FinalInfo button {
            background-color: var(--Pink);
            width: 240px;
            height: 45px;
            border: none;
            border-radius: 30px;
            color: white;
            font-family: "Poppins";
            font-size: 12px;
            margin-top: 25px;
        }

        #FinalInfo button:hover {
            cursor: pointer;
            box-shadow: 0px 0px 5px var(--Pink);
            transition: .5s;
        }

        footer {
            background-color: var(--Very-Dark-Cyan);
            height: 710px;
            margin-top: 100px;
            padding-left: 180px;
            padding-top: 200px;
        }

        #LocaltionDiv {
            color: white;
            width: 350px;
            font-weight: 400;
            font-family: "Open Sans";
            font-size: 14px;
        }
        
        #LocaltionDiv img {
            position: relative;
            top: 27px;
            right: 160px;
        }
    
        #LocaltionDiv p {
            position: relative;
            top: 2px;
            right: 120px;
            width: 300px;
        }

        #PhoneDiv {
            color: white;
            font-family: "Open Sans";
            font-size: 14px;
        }
        
        #PhoneDiv img {
            position: relative;
            top: 27px;
            right: 160px;
        }

        #PhoneDiv p {
            
            position: relative;
            left: -120px;
            top: 5px;
        }
        
        #EmailDiv {
            color: white;
            font-family: "Open Sans";
            font-size: 14px;
        
        }

        #EmailDiv p {
            position: relative;
            top: 4px;
            left: -120px;
        }   
        
        #EmailDiv img {
            position: relative;
            top: 27px;
            left: -160px;
        }

        #Lista1 {
            color: white;
            font-family: "Poppins";
            margin-left: -160px;
            margin-top: 20px;
            line-height: 35px;
            list-style-type: none;
            font-size: 17px;
            font-weight: 200;
        }
        
        #Lista1 li:hover {
            text-decoration: underline;
        }
        
        #Lista2 {
            color: white;
            font-family: "Poppins";
            margin-left: -160px;
            margin-top: -1px;
            line-height: 35px;
            list-style-type: none;
            font-size: 17px;
            font-weight: 200;
        }
        
        #Lista2 li:hover {
            text-decoration: underline;
        }

        #Copy {
            color: white;
            font-weight: 200;
            font-family: "Poppins";
            font-size: 11px;
            margin-left: -100px;
            margin-top: 70px;
        }
        }
            