@charset "UTF-8";



@media screen and (max-width: 1440px) and (min-width:900px) {
    .cards-section .card-front {
        position: absolute;
        top: 40%;
        transform: scale(0.9) translateY(-60%);
    }

    .cards-section .card-back {
        position: absolute;
        top: 50%;
        transform: scale(0.9) translateY(10%);
    }

}

@media screen and (max-width: 1024px) {
    .cards-section .card-front {
        position: absolute;
        top: 20%;
        left: 5%;
        transform: scale(0.8);
    }

     .cards-section .card-back {
        position: absolute;
        top: 45%;
        left: 10%;
        transform: scale(0.8);
    }
}

@media screen and (max-width: 884px) {
    .main-container {
        background-color: red;
    }
}